.demonic {
    text-align: center;
    display:flex ;
    justify-content: center;
    /* grid-template-columns: auto auto auto; */
    background-color: black;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .demonic1 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic1 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic1:hover img {
    transform: scale(1.2);
  }
  
  .demonic2 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic2 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic2:hover img {
    transform: scale(1.2);
  }
  
  .demonic3 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic3 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic3:hover img {
    transform: scale(1.2);
  }
  
  .demonic4 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic4 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic4:hover img {
    transform: scale(1.2);
  }
  
  .demonic5 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic5 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic5:hover img {
    transform: scale(1.2);
  }
  
  .demonic6 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic6 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic6:hover img {
    transform: scale(1.2);
  }
  
  .demonic7 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic7 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic7:hover img {
    transform: scale(1.2);
  }
  
  .demonic8 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic8 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic8:hover img {
    transform: scale(1.2);
  }
  
  .demonic9 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .demonic9 img {
    transition: 0.4s all ease-in-out;
  }
  
  .demonic9:hover img {
    transform: scale(1.2);
  }
  
  .demon {
    text-align: center;
    color: darkcyan;
    background-color: black;
  }
  .demon1 {
    background-color: black;
  }
  
  
  
  h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
  }
  
  
  
  
  @media screen and (max-width: 700px) {
    .demonic1 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    max-width: 80%;
  }
  
  .demonic1 img {
    transition: 0.4s all ease-in-out;
    max-width: 90%;
  }
  
  .demonic1:hover img {
    transform: scale(1.2);
    max-width: 80%;
  }
    
  }