body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* background-color: whitesmoke; */
}
.col-centered{
  margin: 0 auto;
  float: none;
}
.no-underline{
  text-decoration: none;
}
section img{
  width: 30rem;
}
.container-nav{
  font-size: 150%;
  position: relative;
}
#navmenu{
  position: relative;
  left: 90%;
}

nav{
  z-index: 1;
}
.wrapper{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  display: none;
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 17%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid rgb(255, 255, 255);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
.checkBox{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
   transition-delay: .6s;
  transform: translateX(-100px);
}



.card-header{
  background-color: #677481;
}
.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cardi {
  margin: 40px;
  position: relative;
  max-width: 400px;
  max-height: 450px;
  justify-content: space-around;
  box-shadow: 0 40px 60px -6px black;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.cardi img {
  width: 75%;
  height: 78%;
  /* object-fit: cover; */
  display: block;
  position: relative;
  left: 11%;
  top: 4.5%;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  /* overflow-y: scroll; */
  transition: 0.8s ease;
}

.cardi:hover .card-desc {
  opacity: 1;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  /* text-align: center; */
}
form.Search_student input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.Search_student button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Search_student button:hover {
  background: #0b7dda;
}

form.Search_student::after {
  content: "";
  clear: both;
  display: table;
}
/* Card detail */

.card-container {
  padding: 15px;
}
.clearfloat {
  content: '';
  display: block;
  clear: both;
}
.contact-card {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contact-card li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.contact-card li:after,
.contact-card li:before {
  content: '';
  display: block;
  clear: both;
}
.contact-card li img {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 150px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
}
.contact-card li .details {
  float: left;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px rgba(0,0,0,0);
  min-width: 250px;
}
.contact-card li .details > span,
.contact-card li .details > a {
  display: block;
  padding: 0 15px 0 35px;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
}
.contact-card li .details > span:before,
.contact-card li .details > a:before {
  display: inline-block;
  font: normal normal normal 13px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 15px;
  width: 15px;
  text-align: center;
  color: #444;
}
.contact-card li .details a {
  color: #57893c;
  transition: color 0.5s ease-in-out;
}
.contact-card li .details a:hover,
.contact-card li .details a:focus {
  color: #97c77e;
  transition: color 0.5s ease-in-out;
}
.contact-card li .details .name {
  font-weight: 600;
}
.contact-card li .details .name:before {
  content: "\f2c0";
}
.contact-card li .details .title:before {
  content: "\f183";
}
.contact-card li .details .phone:before {
  content: "\f1ad";
}
.contact-card li .details .email:before {
  content: "\f003";
}
.contact-card li:hover {
  background: rgba(235,237,189,0.5);
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}
.contact-card li:hover img {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  transition: all 0.4s ease-in-out;
}
.contact-card li:hover .details {
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px #dfe295;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
footer{
  position: relative;
  top: 10rem;
  height: 50px;
  width: 100%;
}
@media (max-width: 991px) {
  .menu-btn{
    display: flex;
  }

  .contact-card li {
    display: block;
    width: auto;
    max-width: 200px;
    margin: 30px auto;
  }
  .contact-card li img,
  .contact-card li .details {
    float: none;
  }
  .contact-card li img {
    margin: 0 auto;
  }
  .contact-card li .details {
    margin-top: 20px;
    text-align: center;
    min-width: 0;
  }
  .contact-card li .details span,
  .contact-card li .details a {
    padding: 0;
    white-space: break-all;
    word-wrap: break-word;
  }
  .contact-card li .details span:before,
  .contact-card li .details a:before {
    display: none;
  }
}
.map {
  text-align: center;
  background-color: #677481;
  width:80%;
  position: relative;
  left: 10%;
  border-radius: 10px;
}

.mapi {
  width: 95%;
  height: 300px;
  margin:0 15px 15px 15px;
  background-color: lightgreen;
  border-radius: 10px;
}

