
.container .adjust-width{
  width: 100%;
}

.messbill{
  margin: 1px;
}
.card-header{
  background-color: #677481;
}

/*Table#1*/
#table1{
  border-collapse: collapse;
  border-radius: 6px;
  background: #212529;
  margin: auto;  
  font-size: 24px;
}

td, th{
  border: 2px solid black;
  border-radius: 6px;
  padding: .2rem; 
  text-align: center;
}

  /*TRs#1*/
#tr1{background: #c9d3dc; color: #000000;}
/* #tr1:hover{background: #0a0d0f; color: #e9edf1;} */

#tr2{background: #becad4; color: #000000;}
/* #tr2:hover{background: #141a1f; color: #dfe4ea;} */

#tr3{background: #b3c1cd; color: #000000;}
/* #tr3:hover{background: #1e272e; color: #d4dbe3;} */

#tr4{background: #a9b8c6; color: #000000;}
/* #tr4:hover{background: #28333e; color: #c9d3dc;} */

#tr5{background: #9eafbf; color: #000000;}
/* #tr5:hover{background: #32404d; color: #becad4;} */

#tr6{background: #93a6b8; color: #000000;}
/* #tr6:hover{background: #3c4d5d; color: #b3c1cd;} */

#tr7{background: #8495a6; color: #000000;}
/* #tr7:hover{background: #3c4d5d; color: #a9b8c6;} */

#tr8{background: #768593; color: #000000;}
/* #tr8:hover{background: #3c4d5d; color: #9eafbf;} */

#tr9{background: #677481; color: #000000;}
/* #tr9:hover{background: #3c4d5d; color: #93a6b8;} */



/* HEADING */
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #e4e4e4;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}



.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:rgb(255, 255, 255); letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:#f8f8f8;
  }



@media (max-width: 576px) {

  .adjust-width{
    width: 30%;
  }

}

